<footer>
    <section class="container">

        <div class="about">
            <div class="heading"><img style="width: 48px; height: 48px" src="https://i.imgur.com/3b8B8kB.png" /><h2>OPENLAKE</h2></div>
            <div class="text">Lorem ipsum dolor sit standamet consectetur. Faucibus neque scelerisque pharetra vitae sed eu. In id duis.</div>
            <div class="socials">
                <ul>
                    <li><a href="#"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-discord" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="line1"></div>

        <div class="newsletter">
            <h2>Newsletter</h2>
            <form action="#">
                <div class="form">
                    <input type="email" id="email" name="email" placeholder="Enter your mail">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="line2"></div>

        <div class="quick_links">
            <h2>Quick Links</h2>
            <div class="links"><ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/programs">Programs</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/alumni_talks">Alumni Talks</a></li>
            </ul></div>
        </div>
    </section>
</footer>