
    <header>
        <div class="main h-nav">
            <div class="left">
                <a href="localhost:5000"><img  src="/resources/logo.png" /></a>
                <a href="localhost:5000"><h1>OPENLAKE</h1></a>
            </div>

            <div class="right vis">
               <div class="element"> <a href="/home">Home</a></div>
               <div class="element">  <a href="/project_1" >Projects</a></div>
               <div class="element">  <a href="/programs" >Programs</a></div>
               <div class="element">  <a href="/community" >Community</a></div>
               <div class="element">  <a href="/blogs" >Blogs</a></div>
               <div class="element">  <a href="/alumni_talks" >Alumni&nbsp;talks</a></div>
            </div>
            <div class="burg">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </header>
 