<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>OpenLake- IIT Bhilai</title>
    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <section class="temp"></section>
    <section style="margin-top:3%;">
        <div class="at_heading">
            <p class="at-title">A leap towards AI  - Seminar 10</p>
            <img class="at-main-img" src="/resources/alumni talks/Big_image.png" alt="Alumni image">
        </div>
    </section>
    <section class="at_parts">
        <p class="at-para" style="margin-top:10%;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quidem consequatur sapiente ipsum. Aut ipsa tenetur odio reiciendis nihil
            dolorem autem blanditiis hic itaque soluta ratione eum, esse corrupti animi tempora corporis architecto nam dolorum molestias inventore ullam.
            Odio earum omnis cupiditate quibusdam quis non aliquid ut eveniet ad soluta vero repellat quaerat, vel quia minus culpa veniam praesentium sunt. 
            Voluptates inventore eum adipisci quisquam possimus! Deserunt officia eius illo expedita quae saepe. Aspernatur, natus, eveniet numquam laborum
            delectus fugit, saepe quo vitae voluptatem mollitia quibusdam distinctio. Ratione, numquam? Doloribus deleniti ad voluptas ullam suscipit excepturi
            recusandae asperiores vel earum.
        </p>
         <p class="at-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quidem consequatur sapiente ipsum. Aut ipsa tenetur odio reiciendis nihil
            dolorem autem blanditiis hic itaque soluta ratione eum, esse corrupti animi tempora corporis architecto nam dolorum molestias inventore ullam.
            Odio earum omnis cupiditate quibusdam quis non aliquid ut eveniet ad soluta vero repellat quaerat, vel quia minus culpa veniam praesentium sunt. 
            Voluptates inventore eum adipisci quisquam possimus! Deserunt officia eius illo expedita quae saepe. Aspernatur, natus, eveniet numquam laborum
            delectus fugit, saepe quo vitae voluptatem mollitia quibusdam distinctio. Ratione, numquam? Doloribus deleniti ad voluptas ullam suscipit excepturi
            recusandae asperiores vel earum.
        </p> 
        <p class="at-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iure voluptate numquam cumque doloremque dicta id consectetur nisi vero omnis consequuntur 
            suscipit at, minima adipisci aspernatur asperiores harum dolores praesentium, accusantium natus quas, in quo quidem impedit! At optio qui, temporibus dolorum 
            incidunt veniam cumque molestias porro? Ipsam iure dignissimos earum, voluptatum ab quasi dolore explicabo officia. Eveniet mollitia ab ullam neque expedita 
            impedit enim nam at numquam eos. Numquam praesentium alias, nemo ipsam incidunt dolorum nihil a nesciunt placeat doloribus quas accusantium soluta veniam 
            quibusdam ea cupiditate animi eius culpa iste? Accusamus provident dolor voluptatem recusandae praesentium voluptate sequi incidunt sit voluptatibus vitae, 
            eum illum et deleniti officiis neque ullam sint libero dolores? Quod, asperiores officiis! Nemo placeat velit reiciendis autem laudantium dolore debitis atque 
            praesentium totam error asperiores in tempore vel delectus dolorem eligendi, eum a recusandae, alias laborum vero voluptatem amet non tenetur. Laudantium, amet. 
            Commodi dolorum minus dolorem? Ullam dignissimos cumque, deleniti tempora consequatur maiores reiciendis laudantium est sed ipsum sint, nesciunt expedita. 
            Aperiam cumque dolorem vitae. Maiores quam quis ratione modi delectus, numquam quibusdam labore vel non nostrum a et eos corporis sapiente, sunt nobis cumque 
            autem nam mollitia incidunt illum vitae. Eligendi, animi cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem tenetur 
            temporibus accusantium deleniti id qui asperiores dignissimos inventore voluptatum rerum ea, et officia nihil architecto adipisci animi recusandae! Sapiente 
            laboriosam ipsum praesentium minima, debitis quibusdam voluptas quos itaque vitae quis, reprehenderit officia obcaecati. In beatae aliquam sint debitis ipsa 
            ut ratione sit dignissimos suscipit consectetur! Maiores natus in quam distinctio saepe tempora explicabo, minima temporibus quas exercitationem atque. Voluptate 
            laudantium dolorem, placeat cupiditate porro itaque aspernatur sit! Eaque voluptatum, doloremque est totam rem et? Adipisci aut, eligendi dignissimos totam obcaecati 
            velit consequuntur maiores eveniet recusandae in hic, odit iusto!
        </p>   
        <p class="at-by">By Virat Kohli</p>
    </section>
    {{>footer}}
</body>

{{!-- scripts --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/header.js"></script>
<script src="/js/project_1.js"></script>
</html>