<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>OpenLake- IIT Bhilai</title>
    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body> 
    {{>header}}

    <section class="alum_parts">
        <h1 class="hidden alumni_heading">Alumni Talks</h1>
        <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="/resources/alumni talks/slide_img1.png">
            </div>
            <div class="mySlides fade">
              <img src="/resources/alumni talks/slide_img2.png">
            </div>
            <div class="mySlides fade">
              <img src="/resources/alumni talks/slide_img3.png">
            </div>
        </div>
    </section>

    <section class="alum_parts">
        <div class="card">
            <a href="/alumni_talks_2"><div class="hidden card_content">
                <div class="alum_card_img"><img src="resources/blogs/Rectangle 14.png"></div>
                <div class="alum_col_line"></div>
                <div class="heading_alum">Alumni Talks - Seminar 10</div>
                <div class="about_alum">By Virat Kohli <br><br> 23 January 2023</div>
            </div></a>
            <a href="/alumni_talks_2"><div class="hidden card_content">
                <div class="alum_card_img"><img src="resources/blogs/Rectangle 14.png"></div>
                <div class="alum_col_line"></div>
                <div class="heading_alum">Alumni Talks - Seminar 10</div>
                <div class="about_alum">By Virat Kohli <br><br> 23 January 2023</div>
            </div></a>
            <a href="/alumni_talks_2"><div class="hidden card_content">
                <div class="alum_card_img"><img src="resources/blogs/Rectangle 14.png"></div>
                <div class="alum_col_line"></div>
                <div class="heading_alum">Alumni Talks - Seminar 10</div>
                <div class="about_alum">By Virat Kohli <br><br> 23 January 2023</div>
            </div></a>
        </div>

        <div class="card">
            <a href="/alumni_talks_2"><div class="hidden card_content">
                <div class="alum_card_img"><img src="resources/blogs/Rectangle 14.png"></div>
                <div class="alum_col_line"></div>
                <div class="heading_alum">Alumni Talks - Seminar 10</div>
                <div class="about_alum">By Virat Kohli <br><br> 23 January 2023</div>
            </div></a>
            <a href="/alumni_talks_2"><div class="hidden card_content">
                <div class="alum_card_img"><img src="resources/blogs/Rectangle 14.png"></div>
                <div class="alum_col_line"></div>
                <div class="heading_alum">Alumni Talks - Seminar 10</div>
                <div class="about_alum">By Virat Kohli <br><br> 23 January 2023</div>
            </div></a>
            <a href="/alumni_talks_2"><div class="hidden card_content">
                <div class="alum_card_img"><img src="resources/blogs/Rectangle 14.png"></div>
                <div class="alum_col_line"></div>
                <div class="heading_alum">Alumni Talks - Seminar 10</div>
                <div class="about_alum">By Virat Kohli <br><br> 23 January 2023</div>
            </div></a>
        </div>
    </section>

    {{>footer}}
</body>

{{!-- scripts --}}
<script async src="/js/scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/header.js"></script>
<script src="/js/alumni_talks.js"></script>
</html>