<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blogs</title>

</head>

<body>
    {{>header}}

    <section class="home_parts">
        <div class="heading_blogs">
            <div class="primary_heading_blogs">Blogs</div>
            <div class="secondary_heading_blogs">Writings from our family</div>
            <div class="tertiary_heading_blogs">Watch-out the latest industry news, technologies and resources</div>
        </div>
        <div id="center_image_blogs">
            <img id="img_blogs" src="resources\blogs\nadiia-ganzhyi-cfE5i6sHCFA-unsplash.jpg" alt="NA">
        </div>
    </section>

    <section class="home_parts">
        <div class="container_blogs">
            <div class="box_blogs">
                {{!-- background image --}}
                <div class="cover_image_blogs">
                    <img src="resources/blogs/Rectangle 14.png" alt="NA">
                </div>
                {{!-- Content for the box --}}
                <div class="content_blogs">
                    <div class="top_blogs">
                        <div class="name_blogs">Mahendra Singh Dhoni</div>
                        <div class="date_blogs">&#8226; 2 August 2023</div>
                        <div class="recent_time_blogs">&#8226; 2 min ago</div>
                    </div>
                    <div class="a_blogs">
                        <div class="heading_box_blogs">Integration Of Artificial Intelligence</div>
                    </div>
                    <div class="about_blogs">Horem ipsum dolor sit amet consectetur. A ac morbi cras ullamcorper mauris ac.
                        Tempor placerat massa tempus consectetur.sLorem ipsum dolor sit amet consectetur. A ac morbi cras
                        ullamcorper mauris ac. Tempor placerat massa tempus consectetur.</div>
                    <div class="tags_blogs">
                        <div class="tags_1_blogs"> AI &#38; ML</div>
                        <div class="tags_2_blogs">Research</div>
                    </div>
                </div>
            </div>
            <div class="box_blogs">
                <div class="cover_image_blogs">
                    <img src="resources/blogs/Rectangle 14.png" alt="NA">
                </div>
                <div class="content_blogs">
                    <div class="top_blogs">
                        <div class="name_blogs">Mahendra Singh Dhoni</div>
                        <div class="date_blogs">&#8226; 2 August 2023</div>
                        <div class="recent_time_blogs">&#8226; 2 min ago</div>
                    </div>
                    <div class="a_blogs">
                        <div class="heading_box_blogs">Integration Of Artificial Intelligence</div>
                    </div>
                    <div class="about_blogs">Horem ipsum dolor sit amet consectetur. A ac morbi cras ullamcorper mauris ac.
                        Tempor placerat massa tempus consectetur.sLorem ipsum dolor sit amet consectetur. A ac morbi cras
                        ullamcorper mauris ac. Tempor placerat massa tempus consectetur.</div>
                    <div class="tags_blogs">
                        <div class="tags_1_blogs"> AI &#38; ML</div>
                        <div class="tags_2_blogs">Research</div>
                    </div>
                </div>
            </div>
            <div class="box_blogs">
                <div class="cover_image_blogs">
                    <img src="resources/blogs/Rectangle 14.png" alt="NA">
                </div>
                <div class="content_blogs">
                    <div class="top_blogs">
                        <div class="name_blogs">Mahendra Singh Dhoni</div>
                        <div class="date_blogs">&#8226; 2 August 2023</div>
                        <div class="recent_time_blogs">&#8226; 2 min ago</div>
                    </div>
                    <div class="a_blogs">
                        <div class="heading_box_blogs">Integration Of Artificial Intelligence</div>
                    </div>
                    <div class="about_blogs">Horem ipsum dolor sit amet consectetur. A ac morbi cras ullamcorper mauris ac.
                        Tempor placerat massa tempus consectetur.sLorem ipsum dolor sit amet consectetur. A ac morbi cras
                        ullamcorper mauris ac. Tempor placerat massa tempus consectetur.</div>
                    <div class="tags_blogs">
                        <div class="tags_1_blogs"> AI &#38; ML</div>
                        <div class="tags_2_blogs">Research</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container_blogs">
            <div class="box_blogs">
                {{!-- background image --}}
                <div class="cover_image_blogs">
                    <img src="resources/blogs/Rectangle 14.png" alt="NA">
                </div>
                {{!-- Content for the box --}}
                <div class="content_blogs">
                    <div class="top_blogs">
                        <div class="name_blogs">Mahendra Singh Dhoni</div>
                        <div class="date_blogs">&#8226; 2 August 2023</div>
                        <div class="recent_time_blogs">&#8226; 2 min ago</div>
                    </div>
                    <div class="a_blogs">
                        <div class="heading_box_blogs">Integration Of Artificial Intelligence</div>
                    </div>
                    <div class="about_blogs">Horem ipsum dolor sit amet consectetur. A ac morbi cras ullamcorper mauris ac.
                        Tempor placerat massa tempus consectetur.sLorem ipsum dolor sit amet consectetur. A ac morbi cras
                        ullamcorper mauris ac. Tempor placerat massa tempus consectetur.</div>
                    <div class="tags_blogs">
                        <div class="tags_1_blogs"> AI &#38; ML</div>
                        <div class="tags_2_blogs">Research</div>
                    </div>
                </div>
            </div>
            <div class="box_blogs">
                {{!-- background image --}}
                <div class="cover_image_blogs">
                    <img src="resources/blogs/Rectangle 14.png" alt="NA">
                </div>
                {{!-- Content for the box --}}
                <div class="content_blogs">
                    <div class="top_blogs">
                        <div class="name_blogs">Mahendra Singh Dhoni</div>
                        <div class="date_blogs">&#8226; 2 August 2023</div>
                        <div class="recent_time_blogs">&#8226; 2 min ago</div>
                    </div>
                    <div class="a_blogs">
                        <div class="heading_box_blogs">Integration Of Artificial Intelligence</div>
                    </div>
                    <div class="about_blogs">Horem ipsum dolor sit amet consectetur. A ac morbi cras ullamcorper mauris ac.
                        Tempor placerat massa tempus consectetur.sLorem ipsum dolor sit amet consectetur. A ac morbi cras
                        ullamcorper mauris ac. Tempor placerat massa tempus consectetur.</div>
                    <div class="tags_blogs">
                        <div class="tags_1_blogs"> AI &#38; ML</div>
                        <div class="tags_2_blogs">Research</div>
                    </div>
                </div>
            </div>
            <div class="box_blogs">
                {{!-- background image --}}
                <div class="cover_image_blogs">
                    <img src="resources/blogs/Rectangle 14.png" alt="NA">
                </div>
                {{!-- Content for the box --}}
                <div class="content_blogs">
                    <div class="top_blogs">
                        <div class="name_blogs">Mahendra Singh Dhoni</div>
                        <div class="date_blogs">&#8226; 2 August 2023</div>
                        <div class="recent_time_blogs">&#8226; 2 min ago</div>
                    </div>
                    <div class="a_blogs">
                        <div class="heading_box_blogs">Integration Of Artificial Intelligence</div>
                    </div>
                    <div class="about_blogs">Horem ipsum dolor sit amet consectetur. A ac morbi cras ullamcorper mauris ac.
                        Tempor placerat massa tempus consectetur.sLorem ipsum dolor sit amet consectetur. A ac morbi cras
                        ullamcorper mauris ac. Tempor placerat massa tempus consectetur.</div>
                    <div class="tags_blogs">
                        <div class="tags_1_blogs"> AI &#38; ML</div>
                        <div class="tags_2_blogs">Research</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home_parts">
        <div class="break_blogs"></div>
        <div class="categories_blogs">
            <div class="type_1_blogs">
                <div class="heading_categories_blogs">
                    <div class="box_categories_blogs"></div>
                    <p>Artificial Intelligence</p>
                </div>
                <div class="question_blogs">How AI models can talk with each other?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
                <div class="question_blogs">How i started learning CSS?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
                <div class="question_blogs">How AI models can talk with each other?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
            </div>
            <div class="line_1_blogs"></div>
            <div class="type_2_blogs">
                <div class="heading_categories_blogs">
                    <div class="box_categories_blogs"></div>
                    <p>Web development</p>
                </div>

                <div class="question_blogs">How i started learning CSS?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
                <div class="question_blogs">How AI models can talk with each other?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
            </div>
            <div class="line_2_blogs"></div>
            <div class="type_3_blogs">
                <div class="heading_categories_blogs">
                    <div class="box_categories_blogs"></div>
                    <p>Artificial Intelligence</p>
                </div>
                <div class="question_blogs">How AI models can talk with each other?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
                <div class="question_blogs">How i started learning CSS?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
                <div class="question_blogs">How AI models can talk with each other?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
                <div class="question_blogs">How AI models can talk with each other?</div>
                <div class="subtitle_blogs">
                    <div class="p1_blogs">M.S.D</div>
                    <div class="p2_blogs">2 min ago</div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</body>

{{!-- scripts --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/header.js"></script>
</html>