<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>OpenLake- IIT Bhilai</title>
    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    
    <section>
        <div class="contain"> <img style="height: 450px;width:450px;" src="https://i.imgur.com/3b8B8kB.png" />
        <p class="slide-in">&lt;Connecting Students to the World<br> of <span style="color: blue; font-size:65px">Open Source</span> Development/&gt;</p>
        </div>
        <p class="invi">OPENLAKE</p>
    </section>

    <section>
        <div class="data">
            <div class="data_ele">
                <img src="/resources/Homepage/Pr_logo.png">
                <p class="data_text">Projects</p>
                <p class="data_num">1+</p>
            </div>
            <div class="data_ele">
                <img src="/resources/Homepage/Pr_logo.png">
                <p class="data_text">Pull Requests</p>
                <p class="data_num">10+</p>
            </div>
            <div class="data_ele">
                <img src="/resources/Homepage/Pr_logo.png">
                <p class="data_text">Contributors</p>
                <p class="data_num">10+</p>
            </div>
            <div class="data_ele">
                <img src="/resources/Homepage/Pr_logo.png">
                <p class="data_text">Events</p>
                <p class="data_num">10+</p>
            </div>
        </div>
    </section>

    <section>
        <div class="about_us">
            <div class="about_heading">
                <p>About us</p>
            </div>
            <div class="flex_text">
                <div class="about_text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quia praesentium voluptate minus, corrupti ratione dolor voluptatibus esse a aut fugit dolore, id vitae eveniet sed quas dolorem saepe et aliquid explicabo ab omnis qui. Laboriosam maxime quas animi laborum dolor vitae expedita perspiciatis, iste maiores sed est quaerat. Molestiae doloribus neque architecto quo voluptatem itaque, asperiores vel aperiam harum?
                </div>
                <div class="about_text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate saepe excepturi in eligendi! Perferendis architecto delectus commodi odio aperiam, eos eum dicta suscipit. Perspiciatis saepe, illum eius debitis alias sunt qui doloremque tenetur, excepturi cumque autem! At, commodi quisquam! Aspernatur expedita neque fugiat tempora unde aut similique, earum numquam. Recusandae in esse quas quod, harum dignissimos totam veniam animi itaque.
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="carousel">
            
        </div>
    </section>
    {{>footer}}
</body>

{{!-- scripts --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/header.js"></script>
</html>