<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>OpenLake- IIT Bhilai</title>
    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <section class="projects_bg">
        <div class="h-screen">
            <div class="banner">
                <img class="absolute sm:relative w-1/3 h-auto top-1/3 sm:w-56 sm:right-1/2 sm:top-1/4 z-10 lg:w-80 lg:" src="resources/projects/ksp2 1.png" alt="">
                <img class="card-1 absolute sm:relative w-1/3 h-auto  sm:w-56 sm:-right-14 sm:top-10 z-20 lg:w-80 lg:-right-20" src="resources/projects/activitytracker 1.png" alt="">
                <img class="card-2 absolute sm:relative w-1/3 h-auto  sm:w-56 sm:right-1/4 sm:-top-2 lg:w-80 lg:-top-10" src="resources/projects/projects.png" alt="">
            </div>
            <div class="flex text-center h-fit sm:h-full right-centre text-4xl md:text-5xl lg:text-6xl sm:left-1/3 font-bold sm:relative sm:top-0 sm:items-center md:-right-20" id="project">
                <h1 class=" sm:relative sm:-right-64 md:-right-72 lg:-right-96">Projects</h1>
            </div>
        </div>
    </section>
    <section class="proj_parts">
        <div class="font-extrabold heading">
            <h1 class="text-2xl sm:text-5xl lg:text-7xl mt-8 mb-8">OUR PROJECTS</h1>
        </div>
        <div class="projects">
            <ul class="m-w forward">
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_2.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_3.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_4.png" alt=""></a></li>
                <!-- repeating elements for continous flow -->
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_2.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_3.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_4.png" alt=""></a></li>

            </ul>
        </div>
        <div class="projects ">
            <ul class="m-w backward">
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_2.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_3.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_4.png" alt=""></a></li>
                <!-- repeating elements for continous flow -->
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_2.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_3.png" alt=""></a></li>
                <li class=""><a href="/project_1"><img src="/resources/project/project_carousel_1row_4.png" alt=""></a></li>

            </ul>
        </div>
        </div>
    </section>
    {{>footer}}

</body>
{{!-- scripts --}}
<script async src="/js/scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script async src="/js/header.js"></script>
</html>