<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Project</title>
</head>

<body>
    <section class="temp"></section>
    {{>header}}
    <div class="project_1">
        <div class="content_project_1">
            <div class="heading_project_1">
                <h1>Activity-Tracker<a href="#"> link</a></h1>
                <h3>Maintainers: Kumar Shivendu, Ambar Mutha, Battu Ashita </h3>
            </div>
            <div class="project_data">
                <div id="stars_count">Stars: </div>
                <div id="issues">Open Issues: </div>
                <div id="fork_count">Forks: </div>
                <div id="pulls">PRs: </div>
                <div id="commit">Last Commit: </div>
            </div>
            <div class="about_project_1">
                Lorem ipsum dolor sit amet consectetur. Mi sit tellus nisi tortor rhoncus vitae mauris. Elementum mi
                ipsum tortor nullam. Vel sit id habitant gravida molestie sed. Aliquet sem morbi lacus commodo at
                scelerisque vehicula ac. Massa nunc sed ut euismod eget odio mi dui in. Ut duis amet orci lacus. Cursus
                aliquet sit bibendum integer vitae. Odio magna porttitor eget cras malesuada. In mauris euismod
                vulputate sed tortor suspendisse sit quisque ut. Eu malesuada nunc neque velit nunc elementum cras
                dignissim. Senectus feugiat massa eget velit parturient cursus. Bibendum faucibus ac dolor adipiscing
                feugiat molestie elit augue. Semper accumsan at enim tellus pulvinar. Tempor quis pulvinar at
                ullamcorper.
                Sit commodo ornare non urna ut. Eget sed in vulputate id diam.
            </div>

            <div class="subheading_project_1">
                <h3>Features</h3>
            </div>

            <div class="about_project_1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quis! Qui corporis ab culpa commodi
                aliquam earum, eligendi nisi iure ipsa quae maxime neque, delectus deleniti vitae quis pariatur nihil
                iste deserunt quas sed laborum, placeat officia. Illo vitae velit quisquam molestiae eius doloremque
                eveniet, sapiente odio ut veniam nulla ea! Quam impedit eum, facere laborum explicabo eligendi adipisci!
                Tempora soluta consequuntur sit, quam molestias quod laudantium. Autem atque ipsam velit perferendis.
                Perspiciatis possimus omnis vitae reprehenderit animi neque quod placeat. Pariatur voluptatibus quisquam
                dolor quas placeat facere aspernatur soluta quae consequuntur asperiores illum repellat aliquid, libero
                rem beatae. Voluptatibus?
            </div>

            <div class="subheading_project_1">
                <h3>Tech Stack</h3>
            </div>

            <div class="techstack">
                <a href="https://html.com/" target="_blank">
                    <img src="resources\projects\html-5.png" alt="">
                </a>
                <a href="https://www.w3schools.com/css/default.asp" target="_blank">
                    <img src="resources\projects\css-3.png" alt="">
                </a>
                <a href="https://www.w3schools.com/js/default.asp" target="_blank">
                    <img src="resources\projects\js.png" alt="">
                </a>
            </div>


        </div>
        <div class="image_project_1">
            <a href="project_1">
                <div id="more">More</div>
                <img class="img_project_1" src="resources\project\Rectangle 24.png" alt="">
                <img class="img_project_1" src="resources\project\Rectangle 25.png" alt="">
                <img class="img_project_1" src="resources\project\Rectangle 26.png" alt="">
                <img id="js_project_1" class="img_project_1" src="resources\project\Rectangle 37.png" alt="">
            </a>

        </div>
    </div>
    <div class="ss_project_1">
        <div class="subheading_project_1">
            <h3>
                Screenshot
            </h3>
        </div>

        <div class="images_project_1">
            <img id="screenshot_project_1"
                src="/resources/project/Activity_tracker_for_projects_2.png" alt="NA">
            <img id="screenshot_project_1" src="resources\project\Rectangle 35.png" alt="NA">
        </div>
    </div>
    {{>footer}}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script src="/js/header.js"></script>
<script src="/js/project_1.js"></script>

</html>