<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <title>Project</title>
</head>

<body>
    {{>header}}
    <div class="project_1">
        <div class="content_project_1">
            <div class="heading_project_1">
                <h1>Activity Tacker <a href="#">link</a> </h1>
                <h3>Maintainers: Demo, demo, demo demo demo</h2>
            </div>

            <div class="about_project_1">
                Lorem ipsum dolor sit amet consectetur. Mi sit tellus nisi tortor rhoncus vitae mauris. Elementum mi
                ipsum tortor nullam. Vel sit id habitant gravida molestie sed. Aliquet sem morbi lacus commodo at
                scelerisque vehicula ac. Massa nunc sed ut euismod eget odio mi dui in. Ut duis amet orci lacus. Cursus
                aliquet sit bibendum integer vitae. Odio magna porttitor eget cras malesuada. In mauris euismod
                vulputate sed tortor suspendisse sit quisque ut. Eu malesuada nunc neque velit nunc elementum cras
                dignissim. Senectus feugiat massa eget velit parturient cursus. Bibendum faucibus ac dolor adipiscing
                feugiat molestie elit augue. Semper accumsan at enim tellus pulvinar. Tempor quis pulvinar at
                ullamcorper.
                Sit commodo ornare non urna ut. Eget sed in vulputate id diam.
            </div>

            <div class="subheading_project_1">
                <h3>Features</h3>
            </div>

            <div class="about_project_1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quis! Qui corporis ab culpa commodi aliquam earum, eligendi nisi iure ipsa quae maxime neque, delectus deleniti vitae quis pariatur nihil iste deserunt quas sed laborum, placeat officia. Illo vitae velit quisquam molestiae eius doloremque eveniet, sapiente odio ut veniam nulla ea! Quam impedit eum, facere laborum explicabo eligendi adipisci! Tempora soluta consequuntur sit, quam molestias quod laudantium. Autem atque ipsam velit perferendis. Perspiciatis possimus omnis vitae reprehenderit animi neque quod placeat. Pariatur voluptatibus quisquam dolor quas placeat facere aspernatur soluta quae consequuntur asperiores illum repellat aliquid, libero rem beatae. Voluptatibus?
            </div>

            <div class="subheading_project_1">
                <h3>Tech Stack</h3>
            </div>

            <div class="techstack">
                {{!-- 
                
                    LOGO lgane h idhr


                 --}}
            </div>
            

        </div>
        <div class="image_project_1">
            <div id="more">More</div>
            <img class="img_project_1" src="resources\project\Rectangle 24.png" alt="">
            <img class="img_project_1" src="resources\project\Rectangle 25.png" alt="">
            <img class="img_project_1" src="resources\project\Rectangle 26.png" alt="">
            <img class="img_project_1" src="resources\project\Rectangle 37.png" alt="">

        </div>
    </div>
            <div class="ss_project_1">
            <div class="subheading_project_1">
                <h3>
                    Screenshot
                </h3>
            </div>


                <img id="screenshot_project_1" style="z-index: 100;" src="/resources/project/Activity_tracker_for_projects_2.png" alt="NA">
                <img id="screenshot_project_1" src="resources\project\Rectangle 35.png" alt="NA">
            </div>
    {{>footer}}
</body>

</html>