footer{
  background: #121212;
  position: relative;
  bottom: 0;
  scroll-snap-align: start;
  height: 100%;
  scroll-snap-stop: always;
}


/* socials */
.socials{
  display: inline-block;
  position: relative;
  left: 36%;
  top: 18%;
  transform: translate(-50%, -50%);
}
.socials a{
    display: inline-block;
    width:48px;
    height:48px;
    text-align:center;
    margin: 0px 8px;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}
.socials a:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}
.socials a .fab{
    width: 100%;
    height:100%;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
}
.socials :nth-child(1) :hover{
    color: #000000a9;
}
.socials :nth-child(2) :hover{
    color: 	#7289DA;
}
.socials :nth-child(3) :hover{
    color: #0072b1;
}
.socials :nth-child(4) :hover{
    color: #dd4b39;
}
.text-small{
  font-size: 0.9rem;
}


/* newsletter */
a{
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover, a:focus {
  text-decoration: none;
}
.form-control {
  background: #1d1e22;
  border-color: #545454;
}
.form-control:focus{
  background: #000000;
  color: #ffffff;
}
.mail{
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(23, 66, 146);
}
::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.338) !important;
}
::-moz-placeholder{
  color: rgba(255, 255, 255, 0.338) !important;
}


/* links */
.links{
  width: 33.33333333%;
}
h5{
  text-align: center;
}
.links ul{
  padding-left: 39%;
}
.links a{
  text-decoration: none;
  color: #fff;
  line-height: 8px;
  transition: all 0.3s ease;
}
.links a:hover{
  color: #fff;
  padding-left: 10px;
  text-decoration: tr;
}
.about p{
  padding-right: 10%;
  padding-left: 2%;
  margin-top: 1rem;
}
.text-muted{
    color: #fff !important;
}
.about img{
  height: 48px;
  width: 48px;
}
.about h5{
  text-align: left;
}


/* responsive */
@media only screen and (max-width: 768px){
  .socials{
      left: 50%;
  }
  .about h5{
    text-align: center;
  }
  .about p{
    text-align: center;
  }
  .links{
    margin-left: 30%;
    padding-top: 5%;
  }
  .links ul{
    padding-left: 4%;
  }
  .links li{
    text-align: center;
  }
  .newsletter{
    padding-top: 5%;
  }
  .newsletter p{
    padding-top: 5%;
  }
}
@media only screen and (max-width: 992px) {
  .links{
    padding-top: 5%;
  }
}