* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.project_1 {
    display: flex;
    margin-top: 11.570247933884298vh;
    font-family: 'Rajdhani', sans-serif;
}


/* For image */
.image_project_1 {

    width: 20vw;
    height: fit-content;

}

/* For content */
.content_project_1 {

    width: 80vw;
    padding-left: 5.78125vw;
    padding-right: 2vw;
}

/* heading */
.heading_project_1 h1 {
    color: #1589FF;
    font-size: 3.125rem;
}

.heading_project_1 h1 a {
    font-size: 1rem;
    color: #A9A9A9;
}

.heading_project_1 h3 {
    color: #9A9A9A;
    font-size: 1.5rem;
    display: inline-block;
}

.about_project_1 {
    font-size: 1.2rem;
    margin-top: 5vh;
}

/* .subheading_project_1 {
    font-size: 1.65rem;
    margin-top: 2vw;
    color: #FFFFFF;
} */

.ss_project_1 {
    padding-left: 5.78125vw;
    padding-right: 2vw;
    margin-bottom: 30px;
}

.subheading_project_1 h3{
    font-size: 1.65rem;
    margin-top: 2vw;
    font-weight: bold;
    color: #FFFFFF;
}

#screenshot_project_1 {
    display: flex;
}

#screenshot_project_1 {
    width: 43.125vw;
    height: auto;
    margin-top: 5vh;
}

.images_project_1 {
    display: flex;
    gap: 2vw;
}

.image_project_1 {
    padding-left: 2.5vw;

}

.img_project_1 {
    width: 15vw;
    margin-top: 5vh;
    display: flex;
}

#more {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2vh;
}

.temp {
    scroll-snap-align: start;
}

@media only screen and (max-width : 992px) {
    .heading_project_1 h1 {
        color: #1589FF;
        font-size: 2.5rem;
    }

    #more {
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
        font-size: 1rem;
        padding-top: 2vh;
    }

    .subheading_project_1 h3 {
        font-size: 1.5rem;
        margin-top: 2vw;
        font-weight: bold;
        color: #FFFFFF;
    }

    .about_project_1 {
        font-size: 1rem;
        margin-top: 5vh;
    }

    .heading_project_1 h3 {
        color: #9A9A9A;
        font-size: 1rem;
        display: flex;
    }

    .heading_project_1 h1 a {
        font-size: 1rem;
        color: #A9A9A9;
    }
}

@media only screen and (max-width:576px) {
    .image_project_1{
        display: none;
    }
    .content_project_1{
        width: auto;
    }
    .images_project_1{
        display: block;
    }
    #screenshot_project_1{
        width: 90vw;
    }
}