.projects_bg{
  background-image: url(/resources/project/white_dots.png);
  background-color: rgb(33, 135, 218);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.proj_parts{
  background-image: url(/resources/Homepage/Background_with_dots.png);
  width: 100%;
  height:100vh;
  padding-top: 12vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: 0;
}
.h-screen{
  display: flex;
}
.banner{
  max-width: 62%;
  padding-left: 1vw;
}
.banner img{
  max-width: 50vw;
  height: auto;
}
#project{
  width: 38%;
  place-self: center;
}
#project h1{
  font-size: 6vw;
  font-weight: 600;
}
.font-extrabold{
  font-size: 6vw;
  font-weight: 500;
}
@media only screen and (max-width:576px){
  .h-screen{
    flex-direction: column-reverse;
  }
  .banner{
    place-self: center;
  }
  #project h1{
    font-size: 10vw;
    margin-bottom: 9vh;
  }
}

  .img {
    background-image: url("images/white_dots.png");
    background-color: rgb(33, 135, 218);
    position: relative;
    display: flex;
    /* justify-content: right; */
  }
  
  .right-centre {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
    /* font-size: 5vw; */
    /* align-items: first baseline; */
    /* padding: 1.2em; */
  }
  .card-1{
    top: 41%;
  }
  .card-2{
    top: 56%;
  }
  
  .heading {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vmax;
    display: flex;
    justify-content: center;
  }
  .projects {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .m-w {
    display: flex;
    list-style: none;
    height: 100%;
    position: relative;
  }
  .m-w li {
    display: flex;
    width: 25vw;
    height: 18vw;
    /* border: 2px solid rebeccapurple; */
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    white-space: nowrap;
    margin-inline-end: 10px;
  }
  
  @keyframes forward {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
  @keyframes backward {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100vw);
    }
  }
  
  .forward {
    animation: forward 8s linear infinite;
  }
  .backward {
    animation: backward 8s linear infinite;
  }
  .m-w:hover {
    animation-play-state: paused;
  }
  
  .m-w li a{
    height: 100%;
    width: 100%;
  }
  .m-w li img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  @media only screen and(max-width : 640px) {
    .banner{
      display: none !important;
    }
    
  }